@using EntityLayer.Concrete
@model List<Notification>

@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>
<table class="table table-hover">
    <tr>
        <th>Bildirim</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td hidden="hidden">@item.NotificationId</td>
    <td>@item.NotificationDetay</td>
    <td>@item.NotificationTarih.ToShortDateString()</td>
</tr>}
</table>

