@using EntityLayer.Concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Durum</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach(var item in Model)
     { 
        <tr>
            <td>@item.kategoriID</td>
            <td>@item.kategoriAd</td>
            <td>@item.kategoridurum</td>
            <td><a href="#" class="btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn-danger">Sil</a></td>
        </tr>
     }
</table>
