@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldinz</h1>
    <p>Proje <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core MVC ile Blog Sayfası</a>.</p>
</div>
